md-toolbar {
  background: #2196F3  !important;
  color: #ffffff;
}

.md-toolbar-tools h1 {
  font-weight: bold;
}

.md-toolbar-tools {
  padding: 0;
}

.md-toolbar-tools > div:not(:last-child) {
  background: whitesmoke;
}

.markdown-body {
  margin-top: -20px;
  height: 0;
  opacity: 0;
  background: #FCFCFC;
  overflow: hidden;
  padding: 20px;
  
  transition: all 300ms ease-in-out;
}

.markdown-body.show {
  margin-top: 0px;
  opacity: 1;
}

code {
  font-size: 16px;
  line-height: 1.2rem;
}

[md-raised-button].md-primary {
  z-index: 1;
  background-color: #2196F3;
}

[md-raised-button].md-primary:hover {
  background-color: rgb(0, 109, 195);
}

.rendered {
  border: 1px solid #eee;
  padding: 20px;
}

md-content md-toolbar {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

md-tabs {
  min-height: 400px !important;
  border: 1px solid #eee;
  margin-bottom: 15px;
}

md-tabs .md-tab.md-active {
  color: #2196F3;
}

.md-tab {
  text-transform: none;
}
